<%- include('../../fragments/header.ejs') %>
    <main>
        <script type="application/javascript" src="/js/validationCommon.js"></script>
        <script type="application/javascript" src="/js/validationPrzedForm.js"></script>
        <h2>
            <%= pageTitle %>
        </h2>
        <form id="myform" class="form" method="post" action="<%=formAction%>" novalidate
            onsubmit="return validateForm();">
            <input type="hidden" name="_id" value="<%= przed._id %>">

            <label for="name">
                <%= __('przed.fields.name') %>:<sup>*</sup>
            </label>
            <input type="text" name="name" id="name" placeholder="2-60" value="<%= przed.name %>"
                <%=(formMode=='showDetails' ) ? 'disabled' : '' %>
            class="<%= validationErrors && validationErrors.find(e=> e.path.includes('name')) ? 'error-input' : '' %>"
                />
                <span id="errorName" class="errors-text">
                    <% if (validationErrors) if (validationErrors.find(e=> e.path.includes('name'))) { %>
                        <%= validationErrors.find(e=> e.path.includes('name')).message %>
                            <% } %>
                </span>

                <label for="shortcut">
                    <%= __('przed.fields.shortcut') %>:<sup>*</sup>
                </label>
                <input type="text" name="shortcut" id="shortcut" placeholder="2-4" value="<%= przed.shortcut %>"
                    <%=(formMode=='showDetails' ) ? 'disabled' : '' %>
                class="<%= validationErrors && validationErrors.find(e=> e.path.includes('shortcut')) ? 'error-input' :
                    '' %>" />
                    <span id="errorShortcut" class="errors-text">
                        <% if (validationErrors) if (validationErrors.find(e=> e.path.includes('shortcut'))) { %>
                            <%= validationErrors.find(e=> e.path.includes('shortcut')).message %>
                                <% } %>
                    </span>

                    <label for="department">
                        <%= __('przed.fields.department') %>:<sup>*</sup>
                    </label>
                    <input type="text" name="department" id="department" placeholder="2-60"
                        value="<%= przed.department %>" <%=(formMode=='showDetails' ) ? 'disabled' : '' %>
                    class="<%= validationErrors && validationErrors.find(e=> e.path.includes('department')) ?
                        'error-input' : '' %>" />
                        <span id="errorDepartment" class="errors-text">
                            <% if (validationErrors) if (validationErrors.find(e=> e.path.includes('department'))) { %>
                                <%= validationErrors.find(e=> e.path.includes('department')).message %>
                                    <% } %>
                        </span>

                        <% if (formMode!='showDetails' ) { %>
                            <label for="password">
                                <%= __('przed.fields.password') %>:<sup>*</sup>
                            </label>
                            <input type="password" name="password" id="password" <%=(formMode=='showDetails' )
                                ? 'disabled' : '' %>
                            class="<%= validationErrors && validationErrors.find(e=> e.path.includes('password')) ?
                                'error-input' : '' %>" />
                                <span id="errorPassword" class="errors-text">
                                    <% if (validationErrors) if (validationErrors.find(e=> e.path.includes('password')))
                                        { %>
                                        <%= validationErrors.find(e=> e.path.includes('password')).message %>
                                            <% } %>
                                </span>
                                <% } %>

                                    <% if (formMode=='showDetails' ) { %>
                                        <div class="section-buttons">
                                            <a href="/przedmioty/edit/<%= przed._id %>"
                                                class="list-actions-button-edit">
                                                <%= __('form.actions.edit') %>
                                            </a>
                                        </div>
                                        <% } %>
        </form>
        <% if (formMode=='showDetails' ) { %>
            <h2>
                <%= __('stud.list.pageTitle') %>
            </h2>
            <table class="table-list">
                <thead>
                    <tr>
                        <th>
                            <%= __('ocen.fields.student') %>
                        </th>
                        <th>
                            <%= __('ocen.fields.mark') %>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <% for (let o of przed.ocena) { %>
                        <tr>
                            <td><a href="/studenci/details/<%= o.student._id %>">
                                    <%= o.student.firstName+" "+o.student.lastName %></a></td>
                            <td><%= o.mark %></td>
                        </tr>
                    <% } %>
                </tbody>
            </table>
            <% } %>
                <div class=" form-buttons">
                                        <p id="errorsSummary" class="errors-text">
                                            <%= validationErrors?__('validationMessage.errors'):'' %>
                                        </p>
                                        <% if (formMode !='showDetails' ) { %>
                                            <input class="form-button-submit" type="submit" value="<%=btnLabel%>"
                                                form="myform" />
                                            <a class="form-button-cancel" href="/przedmioty">
                                                <%= __('form.actions.cancel') %>
                                            </a>
                                            <% } else { %>
                                                <a class="form-button-cancel" href="/przedmioty">
                                                    <%= __('form.actions.return') %>
                                                </a>
                                                <% } %>
                                                    </div>
    </main>
    <div style="display: none">
        <span id="errorMessage-required"><%= __('validationMessage.fieldRequired') %></span>
        <span id="errorMessage-2_60"><%= __('validationMessage.field2_60') %></span>
        <span id="errorMessage-2_4"><%= __('validationMessage.field2_4') %></span>
        <span id="errorMessage-errors"><%= __('validationMessage.errors') %></span>
    </div>
    <%- include('../../fragments/footer.ejs') %>