<%- include('../../fragments/header.ejs') %>
<main>
    <h2><%= __('stud.list.pageTitle') %></h2>
    <table class="table-list">
        <thead>
            <tr>
                <th><%= __('stud.fields.firstName') %></th>
                <th><%= __('stud.fields.lastName') %></th>
                <th><%= __('stud.fields.dateOfBirth') %></th>
                <th><%= __('list.actions.title') %></th>
            </tr>
        </thead>
        <tbody>
            <% for (let stud of studs) { %>
            <tr>
                <td><%= stud.firstName %></td>
                <td><%= stud.lastName %></td>
                <td><%= stud.dateOfBirth.toISOString().split('T')[0] %></td>
                <td>
                    <ul class="table-list-actions">
                        <li><a href="/studenci/details/<%=stud._id%>" class="list-actions-button-details"><%= __('list.actions.details') %></a></li>
                        <li><a href="/studenci/edit/<%=stud._id%>" class="list-actions-button-edit"><%= __('list.actions.edit') %></a></li>
                        <li><a href="/studenci/delete/<%=stud._id%>" class="list-actions-button-delete"><%= __('list.actions.delete') %></a></li>
                    </ul>
                </td>
            </tr>
            <% } %>
        </tbody>
    </table>
    <p><a href="/studenci/add" class="button-add"><%= __('stud.list.addNew') %></a></p>
</main>
<%- include('../../fragments/footer.ejs') %>