<%- include('../../fragments/header.ejs') %>
<main>
    <h2>Lista studentów</h2>
    <table class="table-list">
        <thead>
            <tr>
                <th>Imię</th>
                <th>Nazwisko</th>
                <th>Data urodzenia</th>
                <th>Akcje</th>
            </tr>
        </thead>
        <tbody>
            <% for (let stud of studs) { %>
            <tr>
                <td><%= stud.firstName %></td>
                <td><%= stud.lastName %></td>
                <td><%= stud.dateOfBirth.toISOString().split('T')[0] %></td>
                <td>
                    <ul class="table-list-actions">
                        <li><a href="/studenci/details/<%=stud._id%>" class="list-actions-button-details">Szczegóły</a></li>
                        <li><a href="/studenci/edit/<%=stud._id%>" class="list-actions-button-edit">Edytuj</a></li>
                        <li><a href="/studenci/delete/<%=stud._id%>" class="list-actions-button-delete">Usuń</a></li>
                    </ul>
                </td>
            </tr>
            <% } %>
        </tbody>
    </table>
    <p><a href="/studenci/add" class="button-add">Dodaj nowego studenta</a></p>
</main>
<%- include('../../fragments/footer.ejs') %>