<%- include('../../fragments/header.ejs') %>

<main>
    <h2><%= __('ocen.list.pageTitle') %></h2>
    <table class="table-list">
        <thead>
            <tr>
                <th><%= __('ocen.fields.subject') %></th>
                <th><%= __('ocen.fields.student') %></th>
                <th><%= __('ocen.fields.teacher') %></th>
                <th><%= __('ocen.fields.date') %></th>
                <th><%= __('ocen.fields.mark') %></th>
                <th><%= __('list.actions.title') %></th>
            </tr>
        </thead>
        <tbody>
            <% for (let ocena of oceny) { %>
            <tr>
                <td><%= ocena.przedmiot.name %></td>
                <td><%= ocena.student.firstName+" "+ocena.student.lastName %></td>
                <td><%= ocena.teacher %></td>
                <td><%= ocena.date.toISOString().split('T')[0] %></td>
                <td><%= ocena.mark %></td>
                <td>
                    <ul class="table-list-actions">
                        <li><a href="/oceny/details/<%=ocena._id%>" class="list-actions-button-details"><%= __('list.actions.details') %></a></li>
                        <li><a href="/oceny/edit/<%=ocena._id%>" class="list-actions-button-edit"><%= __('list.actions.edit') %></a></li>
                        <li><a href="/oceny/delete/<%=ocena._id%>" class="list-actions-button-delete"><%= __('list.actions.delete') %></a></li>
                    </ul>
                </td>
            </tr>
            <% } %>

        </tbody>
    </table>
    <p><a href="/oceny/add" class="button-add"><%= __('ocen.list.addNew') %></a></p>
</main>
<%- include('../../fragments/footer.ejs') %>